:root {
  /* set commonly used colours */
  --foreground: #F5F5F5;
  --background: #1F1F1F;

  @media (prefers-color-scheme: light) {
    --foreground: #1F1F1F;
    --background: #F5F5F5;
  }

}

body {
  font-family: 'Anta', Arial, sans-serif;
  font-size: 125%;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4em;
  color: var(--foreground);
  background-color: var(--background);
}

/* Navigation bar */

nav {
  text-align: center;
  border: #001d7a 1px solid;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 12px;
}

/* Headings */
h1 {
  border-bottom: 1px solid var(--foreground);
}

/* links */
a {
  color: #FF9933;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #FF9933;
  text-decoration: underline;
}

a:active {
  color: #E0E0E0;
  text-decoration: underline;
}

a:visited {
  color: #bd7935;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {

  /* Minor modifications for light theme */
  a,
  a:hover {
    color: #bd5b00;
  }

  a:active {
    color: #001d7a;
  }
}

/* Grid of book recommendations*/

.books-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}


.books-grid .currently-reading {
  grid-column: span 3;
}

@media (max-width: 70em) and (min-width: 50em) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .books-grid .currently-reading {
    grid-column: span 2;
  }
}

@media (max-width: 50em) {
  .books-grid {
    grid-template-columns: 1fr;
  }

  .books-grid .currently-reading {
    grid-column: span 1;
  }
}

.books-grid div {
  box-shadow: 0 10px 10px #000000;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Grid of recipe links */

.food-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.food-grid div {
  box-shadow: 0 10px 10px #000000;
  padding: 1em;
  /* width: 6em; */
}